.nav {
  margin: 5px;
  padding: 8px;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin-top: 0;
}

.webGrus::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: translateY(10px);
}
