@import '~antd/dist/antd.css';

.menu {
  padding: 0 20px;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 276px;
  height: auto;
}

.menu__logo {
  width: 150px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 22px;
  padding: 19px 20px;
}

.menu__container {
  height: auto;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-submenu-arrow {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  font-size: 15px;
  padding: 0px 15px;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: left;
  position: fixed;
  bottom: 25px;
  left: 20px;
}

.menu__mobile-button {
  float: left;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

#grid_NavBar1 {
  display: grid;
  grid-template-rows: 4.5fr 1fr;
}

@media (max-width: 767px) {
  .menu{
    width: auto;
    height: 51px;
  }

  .menu__mobile-button {
    display: inline-block !important;
    width: 160px;
    margin-bottom: 10px;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    font-size: 20px;
    margin-left: -20px;
    padding: 0px 0px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }

  #grid_NavBar1 {
    display: grid;
    grid-template-rows: 1fr 0px;
  }

  #grid_NavBar2 {
    display: grid;
    grid-template-columns: 4.5fr 1fr;
    height: auto;
  }
}
